:root {
    --gold: #e1b209;
    --gold-hover: #f9cb27;
    --dark-bg: #0d0d0d;
    --card-bg: rgb(0 0 0 / 36%);
    --glass-bg: rgba(11, 12, 16, .65);
    --glass-border: rgba(255, 255, 255, .08);
    --text-muted: #a0a0a0;
    --text-opacity: #787878;
    --text: #fff
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--dark-bg);
    color: #fff;
    overflow-x: hidden
}

@font-face {
    font-family: 'UT_Nikahan_Script_Trial';
    src: url('../fonts/UT_Nikahan_Script_Trial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: var(--dark-bg)
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 4px
}

.text-gold {
    color: var(--gold)
}

.btn-gold {
    background: var(--gold);
    color: #000;
    font-weight: 600;
    border: 1px solid var(--gold);
    transition: all .3s ease;
    padding: 10px 24px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px
}

.btn-gold:hover {
    background: transparent;
    color: var(--gold);
    border-color: var(--gold)
}

.btn-outline-gold {
    background: transparent;
    color: var(--gold);
    border: 1px solid var(--gold);
    font-weight: 500;
    transition: all .4s ease
}

.btn-outline-gold:hover {
    background: var(--gold);
    color: #000
}

.section-padding {
    padding: 100px 0
}

.heading-title {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px
}

.heading-line {
    width: 80px;
    height: 3px;
    background: var(--gold);
    margin: 0 auto 50px
}

.glass-card,
.control-panel,
.search-wrapper {
    max-width: 500px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #c8a96b;
    z-index: 2;
}

.luxury-search {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 50px;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 14px;
    color: #fff;
    backdrop-filter: blur(10px);
}

.luxury-search:focus {
    background: rgba(255, 255, 255, 0.08);
    border-color: #c8a96b;
    box-shadow: none;
    color: #fff;
}

.luxury-search::placeholder,
#contactForm .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.luxury-sort {
    min-width: 240px;
    height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
    backdrop-filter: blur(10px);
}

.luxury-sort:focus {
    border-color: #c8a96b;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
}

.luxury-sort option {
    background: #111;
    color: #fff;
}

/* FACILITIES */
.package-facilities {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.package-facilities li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cfcfcf;
    font-size: 13px;
    margin-bottom: 8px;
}

.package-facilities li i {
    color: #d4af37;
    font-size: 14px;
}

.package-card .image-frame {
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.filter-box {
    background: var(--card-bg);
    border: 1px solid var(--glass-border);
    padding: 25px;
    border-radius: 15px;
    /* position: sticky; */
    top: 100px;
    backdrop-filter: blur(10px)
}

.filter-title {
    color: var(--gold);
    font-weight: 700;
    margin-bottom: 20px
}

.filter-box h6 {
    margin-bottom: 15px;
    color: #fff
}

.filter-box label {
    display: block;
    margin-bottom: 4px;
    color: var(--text-muted);
    cursor: pointer
}

.filter-box input {
    margin-right: 8px
}

.innerfilterbox {
    max-height: 180px;
    overflow: auto;
}

/* ================= INNER HERO BANNER ================= */

.inner-hero-banner {
    height: 300px;
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(11, 12, 16, .9)),
        url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1920&q=80') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 80px
}


.inner-banner-title {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 12px
}

.inner-banner-caption {
    color: var(--gold);
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0
}

@media(max-width:768px) {
    .inner-hero-banner {
        height: 250px
    }

    .inner-banner-title {
        font-size: 30px
    }

    .inner-banner-caption {
        font-size: 14px
    }
}

.glass-card {
    border-radius: 12px;
    backdrop-filter: blur(12px)
}

.navbar-brand span.text-gold {
    font-size: 36px;
    position: relative;
    top: 4px;
}

.navbar {
    transition: all .4s ease;
    padding: 15px 0;
    z-index: 1050;
    background: rgba(11, 12, 16, .95);
    border-bottom: 1px solid var(--glass-border);
    backdrop-filter: blur(10px)
}

.navbar.scrolled {
    background: rgba(11, 12, 16, .95) !important;
    padding: 12px 0
}

.navbar-brand {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 1px;
}

#galleryTabs .nav-link.active {
    background: #e1b209 !important;
    color: #fff !important;
    border: none;
    border-radius: 5px !important;
}

ul#galleryTabs {
    border: none;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    margin: 0 10px;
    transition: color .3s
}

.nav-link:hover,
.nav-link.active {
    color: var(--gold) !important
}

.hero,
.hero-section {
    position: relative;
    overflow: hidden
}

.hero-section {
    height: 100vh;
    width: 100%
}

.hero {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(11, 12, 16, 1)),
        url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1920&q=80') center/cover no-repeat
}

.hero::after,
.hero-slide::before {
    content: "";
    position: absolute;
    inset: 0
}

.hero::after {
    background: rgba(0, 0, 0, .4)
}

.hero-slide {
    position: relative;
    background-size: cover;
    background-position: center
}

.hero-slide::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(11, 12, 16, .7) 100%)
}

.swiper-slide-visible .hero-content {
    display: block
}

.hero-content {
    position: absolute;
    display: none;
    top: 50%;
    left: 7%;
    transform: translateY(-50%) translateZ(0) scale(1) !important;
    z-index: 10;
    text-align: center;
    width: 90%;
    max-width: 900px
}

/* SWIPER FLIP ACTIVE ANIMATION */
.swiper-slide-active .hero-content {
    animation: heroFlipContent 1s ease;
}

/* CONTENT ENTRY */
.swiper-slide-active .hero-content h1 {
    animation: fadeUp 1s ease;
}

.swiper-slide-active .hero-content p {
    animation: fadeUp 1.2s ease;
}

.swiper-slide-active .hero-btns {
    animation: fadeUp 1.4s ease;
}

/* KEYFRAMES */
@keyframes heroFlipContent {
    0% {
        opacity: 0;
        transform: rotateY(30deg) translateY(50px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0) scale(1);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MOBILE */
@media (max-width: 767px) {

    .hero-content {
        padding: 40px 0;
        text-align: center;
        margin: auto;
    }

    .hero-content p {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btns {
        justify-content: center;
    }
}

.hero h2,
.hero-content h2 {
    font-weight: 600
}

.hero-content h2 span {
    font-size: 80px;
    font-weight: 600;
    font-family: 'UT_Nikahan_Script_Trial', serif;
    color: var(--gold);
}

.special-text {
    font-weight: 600;
    font-family: 'UT_Nikahan_Script_Trial', serif;

}

/* Floating Actions Container */
.floating-actions {
    position: fixed;
    right: 60px;
    bottom: 40px;
    display: flex;
    gap: 12px;
    z-index: 9999;
    height: 175px;
    width: 50px;
    flex-direction: column-reverse;
}

/* Common Button Style */
.float-btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    transition: all 0.35s ease;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* WhatsApp Button */
.float-whatsapp {
    background: linear-gradient(135deg, #25D366, #1ebd57);
}

.float-whatsapp:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 12px 30px rgba(37, 211, 102, 0.4);
}

/* Call Button */
.float-call {
    background: linear-gradient(135deg, #d4af37, #b8902c);
    color: #111;
}

.float-call:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 12px 30px rgba(212, 175, 55, 0.5);
}

/* Scroll To Top Button */
.float-scroll {
    background: rgba(20, 20, 20, 0.9);
    color: #d4af37;
    border: 1px solid rgba(212, 175, 55, 0.4);
    display: none;
    /* hidden by default */
}

.float-scroll:hover {
    transform: translateY(-6px) scale(1.05);
    background: #d4af37;
    color: #111;
    box-shadow: 0 12px 30px rgba(212, 175, 55, 0.4);
}

/* Show scroll button on scroll */
.float-scroll.show {
    display: flex;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 215, 0, .3);
    border-radius: 50%;
    background: rgba(255, 255, 255, .05);
    color: #d4af37;
    font-size: 20px;
    text-decoration: none;
    transition: all .4s ease;
}

.social-icon:hover {
    background: #d4af37;
    color: #111;
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(212, 175, 55, .35);
}

section#reviews {
    background: #171717 !important;
}

.review-card {
    padding: 25px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(212, 175, 55, 0.15);
    backdrop-filter: blur(12px);
    transition: 0.4s ease;
}

.review-card:hover {
    transform: translateY(-6px);
    border-color: rgba(212, 175, 55, 0.4);
}

.glass-card.review-card .reviewer-img {
    border-radius: 100px;
}

.reviewer-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #d4af37;
}

.review-text {
    line-height: 1.6;
    max-height: 70px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.review-text.expanded {
    max-height: 500px;
}

.text-gold {
    color: #d4af37;
}

ul#galleryTabs li.nav-item button {
    margin: 0 !important;
    border: none !important;
    color: #6f6f6f !important;
}

.hero h2 {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.hero-content h2 {
    font-size: 5.5rem;
    width: 80%;
    text-align: left;
    left: 0;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .5)
}

.hero p {
    color: var(--gold);
    font-weight: 500;
    letter-spacing: 1px
}

.swiper-hero {
    width: 100%;
    height: 100%
}

.floating-enquiry-box {
    position: absolute;
    /* bottom: 20px; */
    right: 20px;
    top: 58%;
    z-index: 20;
    transform: translateY(-50%) translateZ(0) !important;
    width: 30%;
    max-width: 1140px;
    padding: 25px;
    background: #0a0a0a8f;
}

.floating-enquiry-box .form-control,
.floating-enquiry-box .form-select {
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    border-radius: 6px;
    padding: 8px 10px;
}

.floating-enquiry-box .form-control::placeholder {
    color: #ccc
}

.floating-enquiry-box option {
    background: var(--dark-bg);
    color: #fff
}

.premium-card,
.package-card,
.album-card,
.gallery-card {
    overflow: hidden;
    transition: all .4s ease;
    height: 100%;
    background: #000000;
}

.premium-card:hover,
.package-card:hover,
.album-card:hover,
.gallery-card:hover {
    border-color: var(--gold)
}

.premium-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(212, 175, 55, .1)
}

.package-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(212, 175, 55, .15)
}

.album-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px rgba(212, 175, 55, .15)
}

.gallery-card:hover {
    transform: translateY(-4px)
}

.package-card,
.album-card,
.gallery-card {
    background: var(--card-bg);
    border: 1px solid var(--glass-border);
    border-radius: 15px
}

.package-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border: thin solid #5e4900;
    padding: 10px;
}

.premium-card .card-img-wrap,
.album-cover-wrapper,
.media-container,
.img-container {
    position: relative;
    overflow: hidden
}

.package-card img,
.media-container img,
.album-cover-wrapper img,
.premium-card .card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease
}

.premium-card .card-img-wrap img {
    height: 260px
}

.album-cover-wrapper {
    height: 240px
}

.media-container {
    height: 190px;
    background: #000
}

.img-container {
    height: 220px
}

.package-card:hover img,
.album-card:hover img,
.gallery-card:hover img,
.premium-card:hover img {
    /* transform:scale(1.1) */
}

.feature-tag,
.album-badge,
.badge-gold {
    position: absolute;
    top: 15px;
    padding: 4px 12px;
    font-size: 12px
}

.feature-tag,
.album-badge {
    right: 15px;
    background: rgba(0, 0, 0, .75);
    border: 1px solid var(--gold)
}

.feature-tag {
    color: var(--gold);
    font-weight: 600
}

.album-badge {
    color: #fff;
    border-radius: 20px
}

.badge-gold {
    left: 15px;
    background: var(--gold);
    color: #000;
    font-weight: 700;
    border-radius: 30px
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 24px
}

.gallery-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform .5s
}

.gallery-overlay,
.video-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.gallery-overlay {
    background: rgba(11, 12, 16, .8);
    opacity: 0;
    transition: opacity .4s
}

.gallery-item:hover .gallery-overlay {
    opacity: 1
}

.gallery-item:hover img {
    transform: scale(1.08)
}

.gallery-overlay i,
.video-overlay i {
    color: #fff;
    transition: all .3s
}

.gallery-overlay i {
    font-size: 28px;
    color: var(--gold)
}

.video-overlay i {
    font-size: 40px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, .6)
}

.gallery-card:hover .video-overlay i {
    color: var(--gold);
    transform: scale(1.15)
}

footer {
    background: #050608;
    border-top: 1px solid var(--glass-border);
    padding: 80px 0 30px;
    color: var(--text-muted)
}

footer h5 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px
}

footer a {
    color: var(--text-muted);
    text-decoration: none;
    transition: color .3s
}

footer a:hover {
    color: var(--gold)
}

.footer-socials a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .05);
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    transition: .3s
}

.footer-socials a:hover {
    background: var(--gold);
    color: #000
}

.float-btn,
.whatsapp,
.whatsapp-float {
    /* position: fixed; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 999;
    color: #fff
}

.whatsapp,
.whatsapp-float {
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 20px;
    background: #25D366
}

.float-btn {
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
    transition: transform .3s;
}

.float-btn:hover,
.whatsapp-float:hover {
    transform: scale(1.1)
}

@media(max-width:991px) {
    .hero-section {
        height: auto;
        min-height: 100vh;
        padding-bottom: 450px
    }

    .hero-content {
        top: 30%
    }

    .hero-content h1 {
        font-size: 2.3rem
    }

    .floating-enquiry-box {
        position: relative;
        margin: 300px auto 40px;
        width: 95%;
        left: auto;
        bottom: auto;
        transform: none
    }

    .section-padding {
        padding: 60px 0
    }

    .filter-box {
        position: relative;
        top: auto;
        margin-bottom: 30px
    }

}

@media(max-width:768px) {
    .hero {
        height: 35vh
    }

    .hero h1 {
        font-size: 32px
    }

    .filter-box {
        position: relative;
        top: auto
    }
}

.modal-header.border-secondary {
    border: none;
}

@media(max-width:767px) {
    .hero-content {
        top: 20%
    }


}

.glass-card.review-card.text-white.text-center h6 {
    font-size: 22px;
}

.luxury-counter .counter-box {
    padding: 25px 15px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(212, 175, 55, 0.15);
    backdrop-filter: blur(10px);
    transition: all 0.4s ease;
}

.luxury-counter .counter-box:hover {
    transform: translateY(-8px);
    border-color: rgba(212, 175, 55, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.luxury-counter i {
    font-size: 28px;
    color: #d4af37;
    margin-bottom: 10px;
    display: inline-block;
    animation: floatIcon 3s ease-in-out infinite;
}

@keyframes floatIcon {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.counter-number {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 20px rgba(212, 175, 55, 0.2);
}

.counter-label {
    color: #d4af37;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 5px;
}

/* FILTER */
.filter-box {
    background: #111;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

/* ALBUM */
.album-card {
    background: #111;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.album-card:hover {
    transform: translateY(-5px);
    border-color: #d4af37;
}

.album-thumb img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.album-body {
    padding: 15px;
}

.badge-gold {
    background: #d4af37;
    color: #000;
}

/* MEDIA */
.media-grid img,
.media-grid video {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* GALLERY VIEW */
#galleryView {
    display: none;
}

.back-btn {
    color: #d4af37;
    cursor: pointer;
    font-weight: 600
}

/* ================= LIGHTBOX ================= */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 86%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.lightbox img, #videoPlayer{
    border-radius: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 80%;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

/* VIDEO MODAL */
.video-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.95);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.video-modal video {
    width: 80%;
    border-radius: 12px;
}

.video-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.youtube-thumb{
    position:relative;
    cursor:pointer;
}

.youtube-thumb img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:12px;
}

.play-btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:60px;
    color:#fff;
    text-shadow:0 0 20px rgba(0,0,0,.5);
}